/* CSS for the nav bar */
body{
    background-color: #dddddd;
}
header{
    display: flex;
    flex-direction: row;
    background-color: white;
    margin: -10px;
    height:90px;
}
.navTitle{
    font-family: 'Dancing Script', cursive;
    margin-right:60px;
    font-size:60px;
    color:rgb(61, 131, 61);
    text-shadow: -1px 1px 0 #000,
                          1px 1px 0 #000,
                         1px -1px 0 #000,
                        -1px -1px 0 #000;
}
.navTop{
margin-right:200px;
text-decoration: none;
}